<div class='grid-container'>

  <div class=" new-sauce-button" >
    <h2 class="now-font text-center" > Welcome to <strong>Dippr</strong> </h2>
    <p class="now-font text-center"> A place for sauce enthusiasts to share their love for sauces, dips, and dressings.</p>
    <div class="button-wrapper" >
      <%= link_to '+ Add New Sauce', new_sauce_path, class: "button expanded mayo-text secondary" %>
    </div>
  </div>

  <div class='sauce-index-grid grid-x grid-margin-x grid-margin-y'>

    <% @sauces.each do |sauce| %>

      <div class='sauce-index-cell callout cell small-12 medium-6 large-4 napkin'>
        <a href=<%="/sauces/#{sauce.slug}"%>>
          <%= image_tag sauce.sauce_image, class: "sauce-card-image" %>
          <h3 class="sauce-card-title ketchup-text" > <strong><%= sauce.name %></strong> </h3>
          <h4 class="ketchup-text sauce-card-title" > (<%= sauce.brand %>) </h4>
          <p class="now-font ketchup-text" ><%= sauce.average_rating_text %></p>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to "Edit Sauce", edit_sauce_path(sauce), class: "button expanded alert" %>
            <% end %>
          <% end %>
        </a>
      </div>

    <% end %>

  </div>
</div>
