<!DOCTYPE html>
<html>
<head>
  <title>Dippr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/now" type="text/css"/>
  <script src="https://kit.fontawesome.com/54a2300b8c.js" crossorigin="anonymous"></script>
</head>
<body >

  <div>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar grid-x" id="responsive-menu">
      <div class="cell small-3">
        <a href="/" class="mayo-text top-bar-appname top-bar-text-wrapper" >Dippr</a>
      </div>
      <div class="cell auto topbar-user-section grid-container">
        <div class="grid-x grid-margin-x right ketchup">
          <%- if current_user -%>
            <div class="cell auto text-right top-bar-text-wrapper mayo-text" > 
              Welcome,  <%= link_to "#{current_user.dippr_handle}", "/users/#{current_user.slug}", class: "mayo-text ketchup text-right top-bar-text" %>
              &nbsp; / &nbsp; 
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "mayo-text ketchup text-left top-bar-text" %>
            </div>
          <%- else -%>
            <div class="cell auto text-right top-bar-text-wrapper mayo-text" >
              <%= link_to 'Sign Up', new_user_registration_path, class: "mayo-text ketchup text-right top-bar-text" %> 
              &nbsp; / &nbsp; 
              <%= link_to 'Sign In', new_user_session_path, class: "mayo-text ketchup top-bar-text" %>
            </div>
          <%- end -%>
        </div>
      </div>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash callout alert flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
